{% extends "landing_other/home.html" %}
{% load static %}

{% block main %}
  <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-4">О нас</h1>

    <p class="text-gray-700">
      Наш IT стартап был основан с целью решать сложные проблемы и предоставлять инновационные решения для наших клиентов. Мы верим в силу технологий и стремимся сделать мир лучше с их помощью.
    </p>

    <p class="text-gray-700 mt-4">
      Мы специализируемся на веб-разработке, мобильных приложениях и SEO оптимизации. Наша команда высококвалифицированных специалистов готова взяться за любой проект и преобразить его в успешный продукт.
    </p>

    <p class="text-gray-700 mt-4">
      Мы стремимся к постоянному обучению и совершенствованию, и всегда готовы к новым вызовам. Мы дорожим партнерскими отношениями с нашими клиентами и гордимся результатами, которые достигаем вместе.
    </p>

    <div class="mt-8">
      <h2 class="text-2xl font-bold mb-4">Популярность языка</h2>
      <div class="aspect-w-16 aspect-h-9">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/qQXXI5QFUfw"
          title="Популярное видео по IT"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <button type="button" id="easter-egg" class="easter-egg text-blue">😒</button>
  <script src="{% static 'js/landing_other_scripts/script.js'%}"></script>
{% endblock main %}
