{% extends 'index.html' %}
{% load static %}

{% block title %}<title>Ванные</title>{% endblock %}

{% block menu %}
    <div class="menu">
        <div class="inner">
        <a href="{% url 'home' %}">Главная</a>
        <a href="#about">О нас</a>
        <a href="#service">Услуги</a>
        <a href="#contacts">Контакты</a>
        </div>
    </div>
{% endblock %}

{% block main %}


<section>
    <div class="bath">
        <div class="inner-room1 bathroom1">
            <span>Хай-тек</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>
            
        </div>

        <div class="inner-room2 bathroom2">
            <span>Эстетика</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>

        <div class="inner-room3 bathroom3">
            <span>Строгий</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>

        <div class="inner-room4 bathroom4">
            <span>Минимализм</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>        
    </div>
</section>


{% endblock %}

{% block individual %}
<h1>Хотите другие варианты? Без проблем!</h1>
{% endblock %}