{% extends "index.html" %}
{% load static %}

{% block title %}<title>Кухни</title>{% endblock %}

{% block main %}

<section>
    <div class="bath">
        <div class="inner-room1 kitchen1">
            <span>Стильный</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>
            
        </div>

        <div class="inner-room2 kitchen2">
            <span>Нежность</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>

        <div class="inner-room3 kitchen3">
            <span>Строгий</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>

        <div class="inner-room4 kitchen4">
            <span>Минимализм</span>
            <div class="rooms">
                <a href="#contacts"><input type="button" value="Заказать расчет"></a>
            </div>        
        </div>        
    </div>
</section>

{% endblock %}

{% block individual %}
<h1>Хотите другие варианты? Без проблем!</h1>
{% endblock %}